
@model IEnumerable<Test_MVC4.Models.TOUR>

@{
    ViewBag.Title = "ListTour";
    //WebGrid gridTour = new WebGrid(Model);
}

<h2>ListTour</h2>
@*@gridTour.GetHtml(columns: new[] {
    gridTour.Column("TENTOUR"),
    gridTour.Column("LOAITOUR")
})*@
@section SubHeader {
<div id="SubHeader">
			<ul class="clearfix">
				<li><a href="#"><span>Home Page</span></a></li>
				<li class="clsStart"><a href="/Tour/ListTour" class="clsActive"><span>ListTour</span></a></li>
				<li><a href="#"><span>Destinatios</span></a></li>
				<li><a href="#"><span>Services</span></a></li>
				<li><a href="#"><span>Free Travel Guide</span></a></li>
				<li><a href="#"><span>Tours</span></a></li>
				<li class="clsNoBorder clsEnd"><a href="#"><span>Contact us</span></a></li>
			</ul>
		</div>
}
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@section featured {
<table id="rounded-corner">
    <thead>
    <tr>
        
        <th scope="col" class="rounded">
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th scope="col" class="rounded">
            @Html.DisplayNameFor(model => model.TENTOUR)
        </th>
        <th scope="col" class="rounded">
            @Html.DisplayNameFor(model => model.MOTA)
        </th>
        
        <th scope="col" class="rounded">Edit</th>
        <th scope="col" class="rounded">Details</th>
        <th scope="col" class="rounded">Delete</th>
    </tr>
    </thead>

@foreach (var item in Model) {
   
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENTOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTA)
        </td>
        
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) *@
            <a href="#"><img src="../../Images/user_edit.png" alt title border = "0" /></a>
        </td>
        <td>
          @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "edit" })  
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    
}

</table>
}
